{%- for message in messages %}
    {{- '<|im_start|>' + message.role + '\n' }}
    {%- set content = message.content + '<|im_end|>\n' %}
    {%- if message.role == 'assistant' %}
        {% generation %}
            {{- content -}}
        {% endgeneration %}
    {%- else %}
        {{- content }}
    {%- endif %}
{%- endfor %}
{%- if add_generation_prompt %}
    {{- '<|im_start|>assistant\n' }}
{%- endif %}
