{{- bos_token }}
{%- for message in messages %}
    {%- set content = message.content | trim + '<end_of_turn>\n' %}
    {%- set role = 'model' if message.role == 'assistant' else message.role %}
    {{- '<start_of_turn>' + role + '\n' }}
    {%- if message.role == 'assistant' %}
        {% generation %}
        {{- content }}
        {% endgeneration %}
    {%- else %}
        {{- content }}
    {%- endif %}
{%- endfor %}
    {%- if add_generation_prompt %}{{'<start_of_turn>model\n'}}
{%- endif %}
