{%- set loop_messages = messages %}
{%- for message in loop_messages %}
    {%- set header = '<|start_header_id|>' + message.role + '<|end_header_id|>\n\n' %}
    {%- set content = message.content | trim + '<|eot_id|>' %}
    {%- if loop.index0 == 0 %}
        {%- set header = bos_token + header %}
    {%- endif %}
    {{- header -}}
    {%- if message.role == 'assistant' %}
        {% generation %}
            {{- content -}}
        {% endgeneration %}
    {%- else %}
        {{- content }}
    {%- endif %}
{%- endfor %}
{%- if add_generation_prompt %}
    {{- '<|start_header_id|>assistant<|end_header_id|>\n\n' }}
{%- endif %}
