{%- for message in messages %}
    {%- set content = message.content | trim %}
    {%- if message.role == 'system' and content %}
        {{- '<|system|>\n' + content + '<|end|>\n' }}
    {%- elif message.role == 'user' %}
        {{- '<|user|>\n' + content + '<|end|>\n' }}
    {%- elif message.role == 'assistant' %}
        {{- '<|assistant|>\n' -}}
        {% generation %}
            {{- content + '<|end|>\n' -}}
        {% endgeneration %}
    {%- endif %}
{%- endfor %}
{%- if add_generation_prompt %}
    {{- '<|assistant|>\n' }}
{%- else %}
    {% generation %}
        {{- eos_token -}}
    {% endgeneration %}
{%- endif %}
